@import "compass_twitter_bootstrap";
$lineHeight: 20;
$colWidth: 14;

@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin node($height: $lineHeight * 3px, $color: #fff) {
    height: $height;
    background-color: $color;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    @include rounded();
    border: 1px solid #ccc;
    cursor: pointer;
}

@mixin node-button($height: $lineHeight * 1.5px, $color: yellow) {
    height: $height;
    padding: 0 $colWidth * 1px;
    border: 1px solid;
    border-radius: 8px;
    line-height: $height;
    background-color: $color;
    position: absolute;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.node-menu {
    width: $colWidth * 10px;
    position: fixed;
    top: $lineHeight * 1px;
    left: $colWidth * 1px;
    .node {
        @include node();
        line-height: $lineHeight * 3px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        };
    }
}

.stage {
    height: 100%;
    .destination {
        @include node();
    }
    .source {
        @include node(100px);
        .ctrl {
            @include node-button();
            top: $lineHeight * 3px;
            left: $colWidth * 6px;
        }
    }
    .delay {
        @include node(100px);
        .delay-input {
        }
        .delay-value {
        }
    }
    .gain {
        @include node(100px);
        .gain-input {
        }
        .gain-value {
        }
    }
    .panner {
        @include node(100px);
        .panner-input {
        }
        .panner-value {
        }
    }
    .convolver {
        @include node(100px);
    }
    .compressor {
        @include node(150px);
    }
    .biquad-filter {
        @include node(200px);
    }
}