@import "compass_twitter_bootstrap";
$lineHeight: 20;
$colWidth: 14;

@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin node($color: #fff) {
    background-color: $color;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    @include rounded();
    border: 1px solid #5C5C2E;
    box-shadow: 1px 1px 3px rgba(61, 61, 35, 0.57);
    cursor: pointer;
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: rgb(213,206,166); // Old browsers
    @include filter-gradient(#d5cea6, #b7ad70, horizontal); // IE6-9 fallback on horizontal gradient
    @include background-image(linear-gradient(left top,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%));
    .delete-node {
        position: absolute;
        top: 5px;
        right: 4px;
        width: 20px;
        height: 20px;
    }
}

@mixin node-button($height: $lineHeight * 1.5px, $color: yellow) {
    height: $height;
    padding: 0 $colWidth * 1px;
    border: 1px solid;
    border-radius: 8px;
    line-height: $height;
    background-color: $color;
    display: inline-block;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.node-menu {
    position: fixed;
    top: $lineHeight * 1px;
    left: $colWidth * 1px;
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: rgb(255,255,255); // Old browsers
    @include filter-gradient(#ffffff, #e5e5e5, horizontal); // IE6-9 fallback on horizontal gradient
    @include background-image(linear-gradient(left top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%));
    box-shadow: 3px 3px 13px rgba(51, 51, 51, 0.29);
    border: 1px solid #C5BF92;
    .node {
        @include node();
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        };
    }
}

.stage {
    height: 100%;
    background-color: rgba(198, 200, 201, 0.5);
    background: -webkit-linear-gradient(lightBlue 1px, transparent 2px), -webkit-linear-gradient(0, lightBlue 1px, transparent 1px);
    background: -moz-linear-gradient(lightBlue 1px, transparent 2px), -moz-linear-gradient(0, lightBlue 1px, transparent 1px);
    background: -o-linear-gradient(lightBlue 1px, transparent 2px), -o-linear-gradient(0, lightBlue 1px, transparent 1px);
    background: -ms-linear-gradient(lightBlue 1px, transparent 2px), -ms-linear-gradient(0, lightBlue 1px, transparent 1px);
    background: linear-gradient(lightBlue 1px, transparent 2px), linear-gradient(0, lightBlue 1px, transparent 1px);
    -webkit-background-size: 150px 150px, 150px 150px;
    -moz-background-size: 150px 150px, 150px 150px;
    background-size: 150px 150px, 150px 150px;
    background-position: -2px -2px, -2px -2px;
    .destination {
        @include node();
    }
    .source {
        @include node(125px);
        .info-row {
            padding: 8px 0;
        }
        .play-stop {
            @include node-button($lineHeight * 1.5px, green);
            &.disabled {
                background-color: grey;
            }
        }
        .pause {
            @include node-button($lineHeight * 1.5px, yellow);
            &.disabled {
                background-color: grey;
            }
        }
        .progress-bar-container {
            width: 100%;
            height: 20px;
            background-color: grey;
        }
        .progress-bar {
            width: 0%;
            height: 100%;
            background-color: blue;
            transition: width 1s;
            -moz-transition: width 1s; /* Firefox 4 */
            -webkit-transition: width 1s; /* Safari and Chrome */
            -o-transition: width 1s; /* Opera */
        }
    }
    .delay {
        @include node(100px);
        .delay-input {
        }
        .delay-value {
        }
    }
    .gain {
        @include node(100px);
        .gain-input {
        }
        .gain-value {
        }
    }
    .panner {
        @include node(100px);
        .panner-input {
        }
        .panner-value {
        }
    }
    .convolver {
        @include node(100px);
    }
    .compressor {
        @include node(150px);
    }
    .biquad-filter {
        @include node(200px);
    }
}