<div class="node biquad-filter">
    <div class="node-name">Biquad Filter</div>
    <select class="filter-list">
        <option value="0">Lowpass</option>
        <option value="1">Highpass</option>
        <option value="2">Bandpass</option>
        <option value="3">Lowshelf</option>
        <option value="4">Highshelf</option>
        <option value="5">Peaking</option>
        <option value="6">Notch</option>
        <option value="7">Allpass</option>
    </select>
    <div>
        <input class="frequency-input" type="range" min="0" max="1" step="0.01" />
        <div class="frequency-value">1</div>
    </div>
    <div>
        <input class="quality-input" type="range" min="0" max="1" step="0.01" />
        <div class="quality-value">0</div>
    </div>
    <div class="delete-node">
        <i class="icon-remove"></i>
    </div>
</div>