<div class="node panner">
    <div class="node-name">Panner</div>
    <input class="panner-input" type="range" min="-10" max="10" step="1" />
    <div class="panner-value">0</div>
    <div class="delete-node">
        <i class="icon-remove"></i>
    </div>
</div>